# Python / IDE
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.idea/
.vscode/

# Excel / Temporary files
~$*.xlsx

# Media / Photos binary data
media/*.jpg
media/*.jpeg
media/*.png
!media/.gitkeep

# Output generated maps (optional ignore or keep track)
# mapy/wygenerowane/*.png

# New structure ignores
stacje/dane/*.json
prognoza/dane/*.xlsx
klimatologia/wykresy/*.png
*.h5
klimatologia/*.json

# Pliki konfiguracyjne Firebase
.firebase/
firebase-debug.log

# Ignoruj wszystkie excely z pamietnika itd
*.xlsx
*.csv

# Prywatne pliki lokalne
.private/
